.custom-dialog {
    width: 100%;

    .MuiDialog-container {
        .MuiDialog-paperWidthSm {
            max-width: 100%;
            width: 77%;

            .addNewItemDialogContent {
                width: 100%;

                .custom-table .data-table-parent {
                    background: #ffffff;
                }
            }
        }
    }

    &.edit-dialog {
        .MuiDialog-container {
            .MuiDialog-paperWidthSm {
                width: 400px;
            }
        }
    }

    &.create-step-dialog {
        .MuiDialog-container {
            .MuiDialog-paperWidthSm {
                width: 800px;
            }
        }
    }



    .custom-dialog-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #F5F6FA;
        padding: 15px 15px;

        .dialog-heading {
            display: inline-block;
            padding: 0;
        }

        .modal-close-btn {
            padding: 3px 3px;
            min-width: 0;
            background: $cancel-buttons-bg;
            border-radius: 50%;
            color: $body-box-bg;
        }
    }

    .custom-dialog-content {
        padding: 15px 30px;
        background-color: #ffffff;

        h5 {
            margin: 0;
            color: #252525;
        }

        .form-group {
            display: flex;
            align-items: center;

            .col-form-label {
                padding-top: 0;
                font-weight: 600;
            }

            .form-control {
                font-size: 14px;
                font-weight: 500;
                color: #393939;
                padding: 8px 15px;
                border-radius: 8px;
                background-color: #f5f5f5;
                border: 1px solid #f5f5f5;
                width: 100%;
                height: 50px;
                line-height: 50px;

                &:focus {
                    border: 3px solid #dfc3f7;
                    box-shadow: none;
                }

                &.file {
                    line-height: 20px;
                    margin-top: 10px;
                }

                &.baseLine {
                    display: inline-flex;
                    margin-left: 15px;
                    width: 90px;
                    height: 34px;
                    border: 1px solid #000000;
                    text-align: center;
                    font-size: 14px;
                    line-height: 34px;
                    font-weight: 500;
                    color: #311B4E;
                    border-radius: 3px;
                    padding: 0 10px;
                    background-color: #ffffff;
                }
            }

            textarea.form-control {
                height: auto;
            }

            .select-menu {
                width: 100%;

                .MuiSvgIcon-root {
                    background: none;
                    margin-left: 0px;
                    color: rgba(0, 0, 0, 0.54);
                    font-size: 35px;
                    top: calc(50% - 11px);
                }

                .MuiInput-root {

                    color: #252525;

                    .MuiNativeSelect-select {
                        padding: 15px 15px;
                        font-size: 14px;
                        font-weight: 500;
                        color: #393939;
                    }
                }
            }

            .submit {
                width: 150px;
                font-size: 16px;
                text-transform: capitalize;
                padding: 10px;
                box-shadow: none;
                color: #ffffff;
                background: #6418c3;
                font-weight: 500;
            }

            .create-btn {
                width: 150px;
                font-size: 16px;
                text-transform: capitalize;
                padding: 10px;
                box-shadow: none;
                color: #ffffff;
                background: #6418c3;
                font-weight: 500;
            }

            .save {
                width: 150px;
                font-size: 16px;
                text-transform: capitalize;
                padding: 10px;
                box-shadow: none;
                color: #ffffff;
                background: #C2C2C2;
                font-weight: 500;
            }
        }

        .search-bar-section {
            text-align: right;

            .search-bar {
                display: inline-block;
                position: relative;

                .control-form {
                    border: none;
                    background: #ffffff;
                    height: 40px;
                    padding: 10px 10px 10px 40px;
                    line-height: 35px;
                    font-size: 16px;
                    border-radius: 8px;
                    width: 400px;
                    box-shadow: rgba(0, 0, 0, 0.11) 0px 2px 4px, rgba(0, 0, 0, 0.15) 0px 2px 4px;
                }

                i {
                    position: absolute;
                    top: 14px;
                    left: 10px;
                    color: $buttons-bg;
                }
            }

            .fillter-btn {
                display: inline-block;
                margin-left: 30px;
            }
        }

    }

    .item-list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 40px 15px 24px;

        .item-number {
            font-size: 16px;
            line-height: 20px;
            font-weight: 400;
            color: $buttons-bg;
        }

        .clear-form {
            font-size: 16px;
            line-height: 20px;
            font-weight: 400;
            color: $text-color;
        }
    }

}

.roles-permissions-custom-dialog {
    width: 100%;

    .MuiDialog-container {

        .MuiDialog-paperWidthSm {
            max-width: 100%;
            width: 77%;
            // border-radius: 0 !important;

            .addNewItemDialogContent {
                width: 100%;

                .custom-table .data-table-parent {
                    background: #ffffff;
                }
            }
        }
    }

    &.edit-dialog {
        .MuiDialog-container {
            .MuiDialog-paperWidthSm {
                //  width: 400px;
            }
        }
    }

    &.create-step-dialog {
        .MuiDialog-container {
            .MuiDialog-paperWidthSm {
                //  width: 800px;
                background-color: #F5F6FA;
            }
        }
    }

    .custom-dialog-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #FFFFFF;
        padding: 10px 15px;

        .dialog-heading {
            display: inline-block;
            padding: 0;
        }

        .modal-close-btn {
            padding: 3px 3px;
            min-width: 0;
            background: $cancel-buttons-bg;
            border-radius: 50%;
            color: $button-text-color;
        }
    }

    .custom-dialog-content {
        padding: 15px 30px;

        .super-admin-head {
            h5 {
                margin: 0;
                color: #252525;
            }

            .search-bar-section {
                text-align: right;

                .search-bar {
                    display: inline-block;
                    position: relative;

                    .control-form {
                        border: none;
                        background: #ffffff;
                        height: 40px;
                        padding: 10px 10px 10px 40px;
                        line-height: 35px;
                        font-size: 16px;
                        border-radius: 8px;
                        width: 400px;
                        box-shadow: rgb(0 0 0 / 11%) 0px 2px 4px, rgb(0 0 0 / 15%) 0px 2px 4px;
                    }

                    i {
                        position: absolute;
                        top: 14px;
                        left: 10px;
                        color: #6418c3;
                    }
                }

                .fillter-btn {
                    display: inline-block;
                    margin-left: 30px;
                }
            }
        }

        .user-list {
            margin-top: 15px;

            p {
                font-size: 14px;
                line-height: 18px;
                font-weight: 400;
                color: #6418C3;
            }
        }

        .user-roles-head {
            background: #ffffff;
            padding: 12px 15px;
            border-radius: 5px;

            .user-head-left {
                .roles-tabs {
                    ul {
                        display: block;
                        padding: 0;
                        margin: 0;

                        li {
                            display: inline-block;
                            margin-right: 30px;
                            font-size: 16px;
                            line-height: 32px;
                            font-weight: 600;
                            color: #311B4E;
                            cursor: pointer;
                            border-bottom: 4px solid transparent;

                            &.active {
                                border-bottom: 4px solid #6418C3;
                                color: #6418C3;
                            }
                        }
                    }
                }
            }

            .user-head-right {
                text-align: right;

                ul {
                    display: block;
                    padding: 0;
                    margin: 0;

                    li {
                        display: inline-block;
                        margin-right: 15px;
                        list-style: none;
                        border-bottom: none;

                        .delete-btn {
                            background: #FF3A3A !important;
                        }

                        .delete-all-btn {
                            background: #FF4F64 !important;
                        }

                        &:last-child {
                            margin-right: 0;
                        }

                    }
                }
            }
        }

        .users-tabs {
            margin-top: 15px;

            .tabs-content {
                .users-tabs-content {
                    h5 {
                        font-size: 18px;
                        font-weight: 500;
                        color: #000000;
                        margin: 0;
                    }

                    .users-tabs-inner-content {
                        background: #ffffff;
                        padding: 20px;
                        height: 300px;
                        border-radius: 5px;
                        margin-top: 15px;

                        .group-btn {
                            display: inline-flex;
                            width: auto;
                            font-size: 13px;
                            text-transform: capitalize;
                            padding: 8px 25px;
                            box-shadow: none;
                            font-weight: 500;
                            border-radius: 10px;
                            margin-right: 25px;
                            margin-bottom: 20px;
                        }

                        .roleSelected {
                            color: $button-text-color !important;
                            background: $buttons-bg !important;

                        }

                        .green-btn {
                            color: #0F9D58;
                            background: #CDFFCC;
                        }

                        .onahau-btn {
                            color: #0976B2;
                            background: #BEF3FE;
                        }

                        .magnolia-btn {
                            color: #6418C3;
                            background: #F6EEFF;
                        }

                        .violet-btn {
                            color: #FFFFFF;
                            background: #9B51E0;
                        }

                        .blank-btn {
                            min-width: 150px;
                            height: 40px;
                            background: #D0D0D0;
                        }

                        .assigned-roles-btn {
                            .group-btn {
                                display: block;
                                width: auto;
                                font-size: 13px;
                                text-transform: capitalize;
                                padding: 8px 25px;
                                box-shadow: none;
                                font-weight: 500;
                                border-radius: 10px;
                                margin-right: 25px;
                                margin-bottom: 20px;
                            }

                        }
                    }
                }
            }
        }

    }

}

.invite-btn-dialog {
    &.edit-dialog {
        .MuiDialog-container {
            .MuiDialog-paperWidthSm {
                width: 400px;
            }
        }
    }

    &.create-step-dialog {
        .MuiDialog-container {
            .MuiDialog-paperWidthSm {
                width: 500px;
                padding: 15px 20px;
                background-color: #F5F6FA;
            }
        }
    }

    .custom-dialog-head {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .dialog-heading {
            display: inline-block;
            padding: 0;
        }

        .modal-close-btn {
            padding: 3px 3px;
            min-width: 0;
            background: $cancel-buttons-bg;
            border-radius: 50%;
            color: $body-box-bg;
        }
    }

    .custom-dialog-content {
        .invite-dialog-form {
            margin-top: 20px;

            .search-bar {
                position: relative;

                .control-form {
                    width: 100%;
                    border: none;
                    text-decoration: underline;
                    background: #ffffff;
                    height: 42px;
                    padding: 12px 40px 12px 25px;
                    line-height: 42px;
                    font-size: 16px;
                    border-radius: 8px;
                    box-shadow: rgb(0 0 0 / 11%) 0px 2px 4px, rgb(0 0 0 / 15%) 0px 2px 4px;
                }

                .delete-btn {
                    position: absolute;
                    top: 6.5px;
                    right: 10px;
                    color: #FF3A3A;
                    padding: 8px;
                    min-width: 0;
                    background: transparent;
                    box-shadow: none;
                    border-radius: 50%;
                }
            }
        }

        .invite-dialog-bottom-content {
            margin-top: 25px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .add-another-buttons {
                .add-btn {
                    color: $icon-color;
                    box-shadow: none;
                    text-transform: capitalize;
                    background: transparent !important;

                    i {
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}

.add-task-dialog {
    display: block;
    width: 100%;

    .top-header {
        h2 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 18px;
            color: $heading-text-color;

            .close-icon {
                min-width: 0;
                border-radius: 50%;
                padding: 3px 3px;
                color: $button-text-color;
                background: $cancel-buttons-bg;
            }
        }
    }

    .add-task-dialog-content {
        display: block;
        width: 100%;
        max-height: 100%;
        overflow-y: initial;

        .tast-name-contant {
            display: block;

            label {
                font-size: 14px;
                line-height: 18px;
                font-weight: 500;
                color: $icon-color;
            }

            .form-control {
                width: 50%;
                height: 45px;
                border-radius: 8px;
            }
        }

        .description-contant {
            display: block;

            label {
                font-size: 14px;
                line-height: 18px;
                font-weight: 500;
                color: $icon-color;
            }

            textarea {
                width: 80%;
                border-radius: 8px;
                border: none;
                height: 110px;
                background: #f5f5f5;
                font-size: 14px;
                line-height: 20px;
                padding: 15px 20px;
            }
        }

        .new-requeust-massge {
            margin-bottom: 1rem;

            label {
                font-size: 14px;
                line-height: 18px;
                font-weight: 500;
                color: $icon-color;
            }

            .payment-select-menu {
                width: 50%;
                color: #393939;
                border-radius: 8px;
                background-color: $requisition-button-bg;

                .MuiNativeSelect-select {
                    padding: 15px 15px;
                    font-size: 14px;
                    font-weight: 500;
                    color: #393939;

                    &:focus {
                        border-radius: 8px;
                    }
                }

                .MuiInputBase-root {
                    &::before {
                        display: none;
                    }

                    &::after {
                        display: none;
                    }

                    .MuiNativeSelect-icon {
                        margin-right: 8px;
                    }
                }

            }
        }

        .calender-contant {
            width: 50%;

            label {
                font-size: 14px;
                line-height: 18px;
                font-weight: 500;
                color: $icon-color;
            }

            .date-picker {
                display: block;
                position: relative;

                .picker-input__text {
                    border: none;
                    font-size: 14px;
                    font-weight: 500;
                    width: 270px;
                    color: #393939;
                    padding: 8px 15px;
                    border-radius: 8px;
                    background-color: #f5f5f5;
                    padding: 12px;
                }

                .calendar-icon {
                    position: absolute;
                    top: 10px;
                    right: 15px;
                    color: $buttons-bg;
                }
            }
        }
    }

    .add-module-footer {
        width: 100%;
        display: block;
        padding-bottom: 30px;

        .add-task-btn {
            height: 40px;
            background: #6418c3;
            color: $button-text-color;
            text-transform: capitalize;
        }
    }
}

.suppliers-list-dialog {
    width: 100%;

    .MuiDialog-container {
        .MuiDialog-paperWidthSm {
            max-width: 100%;
            width: 65%;
        }
    }

    .top-header {
        width: 100%;
        display: block;

        h2 {
            display: block;

            .close-icon {
                min-width: 0;
                border-radius: 50%;
                padding: 3px 3px;
                color: $button-text-color;
                background: $cancel-buttons-bg;
            }
        }
    }

    .suppliers-list-dialog-content {
        display: block;
        width: 100%;
        padding: 10px 25px 30px 25px;

        .suppliers-list-inner-contant {
            width: 100%;
            display: block;

            .suppliers-list-left {
                width: 100%;
                display: block;

                h4 {
                    font-size: 22px;
                    line-height: 26px;
                    font-weight: 500;
                    color: $heading-text-color;
                    margin-bottom: 20px;
                }

                .update-status-contant {
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    margin-bottom: 20px;

                    p {
                        font-size: 14px;
                        line-height: 18px;
                        color: #a5a5a5;
                        margin: 0;
                    }

                    .status-btn {
                        border-radius: 15px;
                        font-size: 10px;
                        padding: 2px 20px;
                        background: #0F9D58;
                        border: none;
                        color: $button-text-color;
                        text-transform: capitalize;
                        margin: 0 30px 0 15px;
                    }
                }

                .description-text {
                    margin-bottom: 20px;

                    label {
                        font-size: 16px;
                        line-height: 20px;
                        font-weight: 500;
                        color: $heading-text-color;
                    }

                    p {
                        font-size: 14px;
                        line-height: 20px;
                        font-weight: 400;
                        color: $icon-color;
                    }
                }

                .description-Priority {
                    width: 100%;
                    display: block;
                    margin-bottom: 30px;

                    ul {
                        display: block;
                        padding: 0;
                        margin: 0;

                        li {
                            padding: 0;
                            list-style: none;
                            display: inline-block;
                            margin-right: 20px;
                            border-bottom: none;

                            p {
                                font-size: 14px;
                                line-height: 20px;
                                font-weight: 500;
                                color: $icon-color;
                                margin-bottom: 5px;
                            }

                            span {
                                font-size: 14px;
                                line-height: 20px;
                                font-weight: 500;
                                color: $heading-text-color;

                                i {
                                    margin-right: 5px;
                                }
                            }

                            &:last-child {
                                margin-right: 0;

                                span {
                                    color: #FFAB2D;
                                }
                            }
                        }
                    }
                }

                .attechment-files {
                    width: 100%;

                    .attech-icon {
                        span {
                            font-size: 16px;
                            color: $text-color;
                        }
                    }

                    .attechment-contant {
                        margin-left: 15px;

                        ul {
                            display: block;
                            margin: 0;
                            padding: 0;

                            li {
                                display: block;
                                padding: 0;
                                margin: 0;
                                list-style: none;
                                margin-bottom: 15px;
                                border-bottom: none;

                                p {
                                    font-size: 14px;
                                    line-height: 18px;
                                    font-weight: 500;
                                    margin: 0;
                                    color: $heading-text-color;

                                    i {
                                        margin: 0 10px;
                                        color: $icon-color;
                                    }
                                }

                                span {
                                    font-size: 14px;
                                    line-height: 18px;
                                    font-weight: 500;
                                    margin: 0;
                                    color: $icon-color;
                                }

                                &:last-child {
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }
                }
            }

            .suppliers-list-right {
                width: 100%;
                display: block;

                .suppliers-list-head {
                    width: 100%;
                    display: block;

                    .top-contant {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        span {
                            font-size: 14px;
                            line-height: 18px;
                            font-weight: 500;
                            color: $icon-color;
                        }

                        .new-budget-btn {
                            height: 40px;
                            padding: 5px 15px;
                            border-radius: 10px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background: $buttons-bg;

                            .MuiInputBase-root {
                                font-size: 12px;
                                color: $button-text-color;

                                &::before {
                                    border-bottom: none;
                                }

                                .MuiSelect-icon {
                                    color: $button-text-color;
                                    top: calc(50% - 13px);
                                    right: -6px;
                                }

                                .MuiSelect-select {
                                    &:focus {
                                        background: transparent;
                                    }
                                }
                            }

                            .MuiInput-underline {
                                &::after {
                                    border-bottom: none;
                                }
                            }

                        }
                    }

                    .bottom-contant {
                        width: 100%;
                        display: block;
                        margin-top: 10px;

                        .group-imags {
                            display: flex;
                            align-items: center;

                            i {
                                margin-right: 5px;
                                font-size: 36px;
                                color: #a5a5a5;
                            }
                        }
                    }
                }

                .assignee-progress-contant {
                    width: 100%;
                    display: block;

                    .progress-heading {
                        font-size: 16px;
                        line-height: 20px;
                        font-weight: 500;
                        color: $icon-color;
                        padding: 10px 10px 0 10px;
                    }

                    .assignee-progress-inner {
                        max-height: 350px;
                        padding: 20px 10px 0 10px;

                        .deliveries-box {
                            margin-bottom: 20px;
                            padding: 15px 20px;
                            border-radius: 10px;
                            background: #fff;
                            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

                            .user-details {
                                display: flex;
                                align-items: center;
                                justify-content: start;
                                margin-bottom: 10px;

                                .user-text {
                                    margin-left: 10px;

                                    label {
                                        font-size: 14px;
                                        line-height: 18px;
                                        font-weight: 500;
                                        color: #311b4e;
                                        margin: 0 0 4px 0;
                                        display: block;
                                    }

                                    span {
                                        font-size: 12px;
                                        line-height: 16px;
                                        font-weight: 500;
                                        color: $icon-color;
                                        margin: 0;
                                        display: block;

                                        i {
                                            margin-right: 8px;
                                        }
                                    }
                                }

                            }

                            .get-proses {
                                .progress-text {
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    margin-bottom: 8px;

                                    p {
                                        font-size: 12px;
                                        line-height: 16px;
                                        color: $icon-color;
                                        margin: 0;
                                    }

                                    span {
                                        font-size: 12px;
                                        line-height: 16px;
                                        color: $icon-color;
                                    }
                                }

                                .MuiLinearProgress-colorPrimary {
                                    height: 10px;
                                    background: #d3d3d3;
                                    border-radius: 10px;
                                }

                                .MuiLinearProgress-barColorPrimary {
                                    border-radius: 10px;
                                    background: linear-gradient(174deg, rgba(178, 126, 195, 1) 0%, rgba(100, 24, 195, 1) 100%);
                                }
                            }



                            .order-time {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                margin: 8px 0;

                                span {
                                    font-size: 10px;
                                    line-height: 14px;
                                    color: #a5a5a5;
                                }
                            }

                            &:last-child {
                                margin-bottom: 5px;

                            }
                        }
                    }
                }
            }
        }

        .suppliers-list-bottom-contant {
            width: 100%;
            display: block;
            margin-top: 30px;

            label {
                font-size: 16px;
                line-height: 20px;
                font-weight: 500;
                color: #311B4E;

            }

            .user-profiles-contant {
                margin-bottom: 30px;

                .user-profile {
                    display: flex;
                    align-items: top;
                    justify-content: start;
                    margin-top: 20px;

                    .image {
                        margin-right: 15px;
                    }

                    .user-contant {
                        display: block;

                        .user-name {
                            display: block;

                            label {
                                font-size: 14px;
                                line-height: 18px;
                                font-weight: 500;
                                margin-right: 20px;
                                margin-bottom: 5px;
                                color: $heading-text-color;
                            }

                            span {
                                font-size: 14px;
                                line-height: 18px;
                                font-weight: 500;
                                color: $icon-color;

                                i {
                                    margin-right: 8px;
                                }
                            }
                        }

                        .user-text {
                            display: block;

                            p {
                                font-size: 14px;
                                line-height: 18px;
                                font-weight: 400;
                                margin-right: 20px;
                                color: $text-color;
                                margin: 0;
                            }

                        }

                    }
                }
            }

            .sender-massage {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;

                .user-image {
                    display: inline-block;
                    margin-right: 15px;
                }

                .massege-box {

                    position: relative;
                    width: 100%;

                    .control-form {
                        font-size: 14px;
                        line-height: 45px;
                        font-weight: 500;
                        width: 100%;
                        color: $icon-color;
                        height: 45px;
                        padding: 5px 30px 5px 25px;
                        border-radius: 8px;
                        display: inline-block;
                        background-color: transparent;
                        border: 1px solid $icon-color;

                    }

                    i {
                        position: absolute;
                        top: 15px;
                        right: 20px;
                    }
                }

            }

            .module-btn {
                margin-top: 20px;

                .cancel-btn {
                    margin-left: 10px;
                    color: $buttons-bg !important;
                    border: 1px solid $buttons-bg !important;
                    background: transparent !important;
                }
            }

        }

    }
}

.calender-dialog {
    width: 100%;

    .MuiDialog-container {
        .MuiDialog-paperWidthSm {
            width: 800px;
        }
    }

    .calender-dialog-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #F5F6FA;
        padding-right: 24px;

        .modal-close-btn {
            min-width: 0;
            border-radius: 50%;
            padding: 3px 3px;
            color: $button-text-color;
            background: $cancel-buttons-bg;
        }
    }

    .calender-dialog-content {
        padding: 15px 30px;

        .form-group {
            display: flex;
            align-items: center;
            justify-content: center;

            label {
                font-weight: 600;
            }

            .form-control {
                font-size: 14px;
                font-weight: 500;
                color: #393939;
                padding: 8px 15px;
                border-radius: 8px;
                background-color: #f5f5f5;
                border: 1px solid #f5f5f5;
                width: 100%;
                height: 50px;
                line-height: 50px;
            }

            .event-type {
                margin-right: 25px;

                .redio-btn {
                    width: 20px;
                    height: 20px;
                }

                label {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 18px;
                    margin: 0 0 0 10px;
                }

                &:last-child {
                    margin-right: 0;
                }
            }

            textarea {
                width: 100%;
                height: 100px;
                font-size: 14px;
                line-height: 18px;
                padding: 8px 15px;
                border-radius: 8px;
                background-color: #f5f5f5;
                border: 1px solid #f5f5f5;
            }

            .submit-buttons {
                .delete-btn {
                    background: $cancel-buttons-bg !important;
                }
            }
        }

        .custom-event-radio input {
            width: 100px !important;
            height: 30px !important;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            outline: none;
            cursor: pointer;
            border-radius: 20px;
            background: #454857;
            color: #ffffff;
            font-size: 14px;
            line-height: 30px;


        }

        .meet-radio:checked {
            background-color: #f6eeff;
            color: rgba(100, 24, 195, 1) !important;
        }

        .task-radio:checked {
            background-color: #d7e5ff;
            color: #377dff !important;
        }

        .reminder-radio:checked {
            background-color: #FFEDCC;
            color: #FFB326 !important;
        }

        .meet-radio:before {
            content: attr(label);
            display: inline-block;
            text-align: center;
            font-weight: bold;
            width: 100%;
        }

        .task-radio:before {
            content: attr(label);
            display: inline-block;
            text-align: center;
            font-weight: bold;
            width: 100%;
        }

        .reminder-radio:before {
            content: attr(label);
            display: inline-block;
            text-align: center;
            font-weight: bold;
            width: 100%;
        }

    }
}

.import-item-dialog {
    width: 100%;

    .additem-dialog-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 35px 15px 24px;
        z-index: 10;
        box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;

        .dialog-heading {
            display: inline-block;
            padding: 0;
            color: $text-color;
        }

        .modal-close-btn {
            padding: 3px 3px;
            min-width: 0;
            background: $cancel-buttons-bg;
            border-radius: 50%;
            color: $button-text-color;
        }
    }

    .MuiDialog-container {
        .MuiDialog-paperWidthSm {
            max-width: 100%;
            width: 60%;
            background-color: $body-box-bg;
            border-radius: 0 !important;
            border: 2px solid #000;

            .addNewItemDialogContent {
                width: 100%;

                .custom-table .data-table-parent {
                    background: #ffffff;
                }

                .supplier-inner-content {
                    padding: 25px;
                    border-radius: 10px;
                    background: $body-box-bg;

                    .heading {
                        h4 {
                            color: $text-color;
                            margin-bottom: 20px;
                        }

                        h5 {
                            color: $text-color;
                            margin-bottom: 20px;
                        }
                    }

                    .download-btn {
                        margin: 25px 0;

                        a {
                            .new-requisition-btn {
                                width: 280px;
                                height: 45px;
                                border-radius: 5px;
                                background: $buttons-bg;
                                color: #ffffff;
                                text-transform: capitalize;
                            }

                            &:hover {
                                text-decoration: none;
                            }
                        }

                        .new-requisition-btn {
                            width: 280px;
                            height: 45px;
                            border-radius: 5px;
                            background: $buttons-bg;
                            color: #ffffff;
                            text-transform: capitalize;
                        }

                    }

                    .upload-file-box {

                        .attach {
                            position: relative;
                            font-size: 14px;
                            font-weight: 500;
                            width: 80%;
                            padding: 20px;
                            text-align: center;
                            // height: 150px;
                            color: #90898a;
                            border-radius: 8px;
                            display: inline-block;
                            background-color: #f7f9fd;
                            border: 1px dashed #d1d1d1;

                            .image {
                                position: relative;

                                .file-inner-content {
                                    position: absolute;
                                    margin: 0 auto;
                                    width: 100%;
                                    right: 0px;
                                    bottom: -12px;

                                    P {
                                        font-size: 20px;
                                        font-weight: 500;
                                        line-height: 26px;
                                        color: $buttons-bg;
                                        margin: 0 0 10px 0;

                                    }
                                }
                            }

                            .select-button {
                                .new-requisition-btn {
                                    width: 280px;
                                    height: 45px;
                                    margin-top: 30px;
                                    border-radius: 5px;
                                    background: $buttons-bg;
                                    color: #ffffff;
                                    text-transform: capitalize;
                                }
                            }

                            input {
                                opacity: 0;
                                position: absolute;
                                left: 0;
                                top: 0;
                                width: 100%;
                                height: 100%;
                                cursor: pointer;
                                text-indent: -9999px;
                                z-index: 1;
                            }
                        }
                    }

                }
            }
        }
    }

}

.create-new-role-dialog {
    &.edit-dialog {
        .MuiDialog-container {
            .MuiDialog-paperWidthSm {
                width: 400px;
            }
        }
    }

    &.create-step-dialog {
        .MuiDialog-container {
            .MuiDialog-paperWidthSm {
                width: 500px;
                background-color: #F5F6FA;
            }
        }
    }

    .custom-dialog-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        background: $body-box-bg;

        .dialog-heading {
            display: inline-block;
            padding: 0;
        }

        .modal-close-btn {
            padding: 3px 3px;
            min-width: 0;
            background: transparent;
            border-radius: 50%;
            color: $button-text-color;
            background: $cancel-buttons-bg;
        }
    }

    .custom-dialog-content {
        padding: 15px 20px;

        .invite-dialog-form {
            width: 100%;
            display: block;

            .search-bar {
                label {
                    font-size: 14px;
                    line-height: 18px;
                    font-weight: 500;
                    color: #727272;
                    margin-bottom: 8px;
                }

                .control-form {
                    width: 100%;
                    border: none;
                    background: #ffffff;
                    height: 42px;
                    padding: 12px 15px 12px 15px;
                    line-height: 42px;
                    font-size: 16px;
                    border-radius: 8px;
                    //box-shadow: rgb(0 0 0 / 11%) 0px 0px 1px, rgb(0 0 0 / 15%) 0px 2px 4px;
                }

                textarea {
                    border: none;
                    border-radius: 8px;
                    height: 100px;
                }
            }
        }

        .invite-dialog-bottom-content {
            margin-top: 25px;
        }
    }
}

.invite-supplier-dialog {
    &.edit-dialog {
        .MuiDialog-container {
            .MuiDialog-paperWidthSm {
                width: 400px;
            }
        }
    }

    &.create-step-dialog {
        .MuiDialog-container {
            .MuiDialog-paperWidthSm {
                width: 500px;
                // padding: 15px 20px;
                background-color: #F5F6FA;
            }
        }
    }

    .custom-dialog-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        background: $body-box-bg;

        .dialog-heading {
            display: inline-block;
            padding: 0;
            color: #252525;
        }

        .modal-close-btn {
            padding: 3px 3px;
            min-width: 0;
            background: $cancel-buttons-bg;
            border-radius: 50%;
            color: $body-box-bg;
        }
    }

    .custom-dialog-content {
        padding: 20px 20px;
        background-color: #F5F6FA;

        .invite-dialog-form {
            .search-bar {
                position: relative;

                .control-form {
                    width: 100%;
                    border: none;
                    text-decoration: underline;
                    background: #ffffff;
                    height: 42px;
                    padding: 12px 40px 12px 25px;
                    line-height: 42px;
                    font-size: 16px;
                    border-radius: 8px;
                    box-shadow: rgb(0 0 0 / 11%) 0px 2px 4px, rgb(0 0 0 / 15%) 0px 2px 4px;
                }

                .delete-btn {
                    position: absolute;
                    top: 6.5px;
                    right: 10px;
                    color: #FF3A3A;
                    padding: 8px;
                    min-width: 0;
                    background: transparent;
                    box-shadow: none;
                    border-radius: 50%;
                }
            }
        }

        .invite-dialog-bottom-content {
            margin-top: 25px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .add-another-buttons {
                .add-btn {
                    color: $icon-color;
                    box-shadow: none;
                    text-transform: capitalize;
                    background: transparent !important;

                    i {
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}

.rfq-add-supplier-dialog {
    width: 100%;

    .MuiDialog-container {
        .MuiDialog-paperWidthSm {
            max-width: 100%;
            width: 50%;
        }
    }

    &.create-step-dialog {
        .MuiDialog-container {
            .MuiDialog-paperWidthSm {
                width: 600px;
                background-color: #F5F6FA;
            }
        }
    }

    .custom-dialog-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $body-box-bg;
        padding: 15px 15px;

        .dialog-heading {
            display: inline-block;
            padding: 0;
        }

        .modal-close-btn {
            padding: 3px 3px;
            min-width: 0;
            background: $cancel-buttons-bg;
            border-radius: 50%;
            color: $body-box-bg;
        }
    }

    .custom-dialog-content {
        padding: 20px 30px;

        .search-bar {
            position: relative;

            .search-supplier {}

            .form-group {
                .form-control {
                    font-size: 14px;
                    font-weight: 500;
                    color: #393939;
                    padding: 8px 40px 8px 15px;
                    border-radius: 8px;
                    background-color: #ffffff;
                    border: 1px solid #f5f5f5;
                    width: 80%;
                    height: 50px;
                    line-height: 50px;
                }
            }

            .search-icon {
                position: absolute;
                top: 13px;
                right: 120px;
                border: none;
                color: $buttons-bg;
                background: transparent;
            }
        }

        .form-group {
            display: flex;
            align-items: center;

            .col-form-label {
                padding-top: 0;
                font-weight: 600;
            }

            .form-control {
                font-size: 14px;
                font-weight: 500;
                color: #393939;
                padding: 8px 15px;
                border-radius: 8px;
                background-color: $body-box-bg;
                border: 1px solid #f5f5f5;
                width: 100%;
                height: 50px;
                line-height: 50px;

                &:focus {
                    border: 3px solid #dfc3f7;
                    box-shadow: none;
                }
            }
        }
    }
}


@media (max-width: 767px) {
    .roles-permissions-custom-dialog {
        .custom-dialog-content {
            .user-roles-head {
                .user-head-right {
                    text-align: left;
                    margin-top: 25px;

                    ul {
                        li {
                            display: inline-block;
                            margin-right: 15px;
                            margin-bottom: 15px;
                            list-style: none;
                        }
                    }
                }
            }

            .users-tabs {
                .tabs-content {
                    .users-tabs-content {
                        margin-top: 15px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1280px) {
    .roles-permissions-custom-dialog {
        .custom-dialog-content {
            .super-admin-head {
                .search-bar-section {
                    .search-bar {
                        .control-form {
                            width: 325px;
                        }
                    }
                }
            }
        }
    }

    .custom-dialog {
        .custom-dialog-content {
            .search-bar-section {
                .search-bar {
                    .control-form {
                        width: 325px;
                    }
                }
            }
        }
    }


}

@media (max-width: 991px) {
    .roles-permissions-custom-dialog {
        .custom-dialog-content {
            .super-admin-head {
                .search-bar-section {
                    text-align: left;
                    margin-top: 25px;

                    .search-bar {
                        .control-form {
                            width: 390px;
                        }
                    }
                }
            }

            .user-roles-head {
                padding: 15px;

                .user-head-right {
                    text-align: left;
                    margin-top: 25px;
                }
            }
        }
    }

    .custom-dialog {
        .custom-dialog-content {
            .search-bar-section {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 20px;

                .search-bar {
                    display: block;
                    width: 100%;

                    .control-form {
                        width: 100%;
                    }
                }
            }
        }
    }
}