.form {
  position: relative;
  display: flex;
  padding: 1rem;
  padding-inline: 1rem;
  padding-block: 1rem;
  flex-direction: column;
  min-width: 306px;
  flex: 1 1;
  overflow: auto;
  /* flex-wrap: wrap; */
  background-color: var(--white);
}

.form::-webkit-scrollbar {
  /* visibility: visible; */
  /* background-color: blue; */
}
