.modalContainer {
  position: absolute;
  height: 16%;
  min-width: 50%;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  z-index: 20000;
  min-width: 900;
}
.modalContainer > div {
  position: absolute;
  overflow: scroll;
  border-radius: 5px;
  height: 95%;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(251, 251, 251);
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  border: 1px solid var(--heading-color);
  align-items: center;
}
.modalContainer > div::-webkit-scrollbar {
  visibility: hidden;
  width: 0;
}

.modalHeader {
  position: sticky;
  z-index: 1;
  top: 0;
  width: 100%;
  padding: 0.6rem;
  /* border-bottom: 1px solid var(--text-primary-color); */
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--heading-color);
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color);
}
