.gridContainer {
  width: 100%;
}
.tableContainer {
  max-height: 50vh;
  overflow-x: auto;
}
.table {
  border-collapse: collapse;
  border: 1px solid grey;

  margin-bottom: 3rem;
}
.table tr:nth-child(2n + 1) {
  background-color: rgba(211, 228, 255, 0.668);
}
.tableContainer::-webkit-scrollbar {
  background-color: rgb(153, 153, 153);
}
.tableContainer::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
}
.table :is(th) {
  position: sticky;
  top: -2px;
  background-color: var(--primary-color);
  color: white;
  height: 2rem;
}
.table :is(tr, th, td) {
  padding-inline: 0.5rem;
  white-space: nowrap;
  border: 1px solid grey;
  font-size: 0.7rem;
  /* max-width: 12rem; */
  /* overflow: hidden; */
}

.table th span {
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 0.8rem;
  justify-content: center;
  align-items: center;
}

.menu {
  margin-right: 0.5rem;
  cursor: pointer;
}
.editButton:hover {
  color: rgb(47, 116, 255);
}
.editButton {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
}

.Pagination {
  height: 2rem;
  /* background-color: rgb(135, 135, 135); */
  width: 100vw !important;
  display: flex;
  align-items: last baseline;
  justify-content: flex-end;
  font-size: 0.8rem;
}
.Pagination > * {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  min-width: 20px;
  margin-inline: 1px;
  font-size: 0.7rem;
  cursor: pointer;
  font-weight: bold;
  background-color: var(--forth-color);
}
.Pagination span:nth-child(1) {
  background-color: transparent;
  color: var(--primary-color);
  width: fit-content;
  white-space: nowrap;
  margin-right: 1rem;
  cursor: auto;
}
.Pagination span:nth-child(2) {
  background-color: var(--primary-color);
  color: aliceblue;
  width: 5rem !important;
  border-radius: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.Pagination span:last-child {
  background-color: var(--primary-color);
  color: aliceblue;
  width: 5rem !important;
  border-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.mainMenu {
  height: 2rem;
  position: sticky;
  top: 0px;
  left: 0px;
  font-size: 1.3rem;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  /* width: 100vw; */
  color: var(--primary-color);
  border-radius: 0px;
  /* border: 1px solid blue; */
}
.searchBox {
  height: 1.3rem;
  width: 10rem;
  margin-right: 0.5rem;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  font-size: 0.7rem;
  padding-left: 0.5rem;
  color: var(--primary-color);
}
.mainMenu > span {
  font-size: 0.7rem;
  color: var(--primary-color);
  padding-inline: 1rem;
}
.mainMenu:hover,
.mainMenu > span:hover {
  color: var(--primary-color);
}

.draggging {
  border-right: 2px solid white;
}
.animateRefreshButton {
  transition: all 0.5s;
  color: green;
  animation: animateRefresh 1s infinite ease both;
}
@keyframes animateRefresh {
  0% {
    transform: rotate(1deg) scale(1);
  }
  100% {
    transform: rotate(360deg) scale(1.2);
  }
}

.menu {
  position: relative;
}
.menuList {
  position: absolute;
  top: 1rem;
  left: 0%;
  padding: 0;
  border: 1px solid white;
  list-style-type: none;
  background-color: white;
  color: black;
  font-weight: bold;
}
.menuList li {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(182, 182, 182);
  padding-inline: 1rem;
  padding-block: 0.1rem;
}
.refreshButton {
  margin-right: 0.5rem;
}
.menuList li > * {
  font-size: 1.5rem;
}
.menuList li:hover {
  background-color: var(--tertiary-color);
  color: var(--forth-color);
}

.column span:nth-child(1) > * {
  margin-right: 1rem;
  cursor: pointer;
}

.table .column:nth-child(1) span {
  border-left: 1px solid rgba(108, 108, 108, 0.621);
}
.column span:last-child {
  border-bottom: 1px solid rgba(108, 108, 108, 0.621);
}

.column span:nth-child(2n) {
  background-color: var(--forth-color);
}

.noData {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 5rem;
  width: 100%;
  font-weight: bold;
  color: red;
  /* border: 1px solid grey; */
}
