.table {
  text-align: left;
  display: inline-flex;
  max-height: 50vh;
  overflow: auto;
  width: 100vw !important;
  border: 1px solid rgba(108, 108, 108, 0.621);
}
.column {
  display: inline-flex;
  flex-direction: column;
}

.editButton {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  outline: none;
  cursor: pointer;
  border: none;
}

.cell {
  display: inline-block;
  align-items: center;
  white-space: nowrap;
  padding: 5px;
  padding-left: 0.5rem;
  font-size: 0.7rem;
  height: 2rem;
  border-right: 1px solid rgba(108, 108, 108, 0.621);
  min-width: calc(100% / var(--col));
  min-height: 1rem;
}
.Pagination {
  height: 2rem;
  /* background-color: rgb(135, 135, 135); */
  width: 100vw !important;
  display: flex;
  align-items: last baseline;
  justify-content: flex-end;
  font-size: 0.8rem;
}
.Pagination > * {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  min-width: 20px;
  margin-inline: 1px;
  font-size: 0.7rem;
  cursor: pointer;
  font-weight: bold;
  background-color: var(--forth-color);
}
.Pagination span:nth-child(1) {
  background-color: transparent;
  color: var(--primary-color);
  width: fit-content;
  white-space: nowrap;
  margin-right: 1rem;
  cursor: auto;
}
.Pagination span:nth-child(2) {
  background-color: var(--primary-color);
  color: aliceblue;
  width: 5rem !important;
  border-radius: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.Pagination span:last-child {
  background-color: var(--primary-color);
  color: aliceblue;
  width: 5rem !important;
  border-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.mainMenu {
  height: 2rem;
  position: sticky;
  top: 0px;
  left: 0px;
  font-size: 1.3rem;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  /* width: 100vw; */
  color: var(--primary-color);
  border-radius: 0px;
  /* border: 1px solid blue; */
}
.searchBox {
  height: 1.3rem;
  width: 10rem;
  margin-right: 0.5rem;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  font-size: 0.7rem;
  padding-left: 0.5rem;
  color: var(--primary-color);
}
.mainMenu > span {
  font-size: 0.7rem;
  color: var(--primary-color);
  padding-inline: 1rem;
}
.mainMenu:hover,
.mainMenu > span:hover {
  color: var(--primary-color);
}
.menu {
  position: relative;
}
.draggging {
  border-right: 2px solid white;
}
.animateRefreshButton {
  transition: all 0.5s;
  color: green;
  animation: animateRefresh 1s infinite ease both;
}
@keyframes animateRefresh {
  0% {
    transform: rotate(1deg) scale(1);
  }
  100% {
    transform: rotate(360deg) scale(1.2);
  }
}
.menuList {
  position: absolute;
  top: 1.7rem;
  left: 0%;
  padding: 0;
  border: 1px solid white;
  list-style-type: none;
  background-color: white;
  color: black;
  font-weight: bold;
}
.menuList li {
  z-index: 1000;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(182, 182, 182);
  padding-inline: 1rem;
  padding-block: 0.1rem;
}
.refreshButton {
  margin-right: 0.5rem;
}
.menuList li > * {
  font-size: 1.5rem;
  margin-right: 1rem;
}
.menuList li:hover {
  background-color: var(--tertiary-color);
  color: var(--forth-color);
}
.column span:nth-child(1) {
  padding: 1rem;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--secondary-color);
  color: white;
  border-top: 1px solid rgba(108, 108, 108, 0.621);
  border-bottom: 1px solid rgba(108, 108, 108, 0.621);
  z-index: 100;
}
.column span:nth-child(1) > * {
  margin-left: 1rem;
  cursor: pointer;
}

.table .column:nth-child(1) span {
  border-left: 1px solid rgba(108, 108, 108, 0.621);
}
.column span:last-child {
  border-bottom: 1px solid rgba(108, 108, 108, 0.621);
}

.column span:nth-child(2n) {
  background-color: var(--forth-color);
}
