.container {
  margin-block: 1.1rem;
  margin-inline: 0.5rem;
  position: relative;
  height: 2.5rem;
  /* width: max(15rem, 31%); */
  flex-shrink: 1;
}

.label {
  position: absolute;
  transform: translateY(-1.5rem);
  margin-bottom: 7px;
  color: var(--text-primary-color);
  font-size: 0.9rem;
  text-transform: capitalize;
}
.select {
  position: absolute;
  left: 0;
  top: 0;
  outline: none;
  border: none;
  background-color: var(--forth-color);
  color: var(--text-primary-color);
  border-radius: 5px;
  height: 100%;
  width: 100%;
  padding-left: 1rem;
  transition: all 0.2s;

  border-bottom: 1px solid transparent;
  border-radius: 4px;
  background-image: linear-gradient(45deg, transparent 50%, white 50%),
    linear-gradient(135deg, white 50%, transparent 50%),
    linear-gradient(to right, var(--primary-color), var(--primary-color));
  background-position: calc(100% - 22px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), 100% 0;
  background-size: 5px 5px, 7px 5px, 3.1em 3.1em;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select:focus {
  background-image: linear-gradient(45deg, white 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, white 50%),
    linear-gradient(to right, gray, gray);
  background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, 100% 0;
  background-size: 5px 5px, 7px 5px, 3.1em 3.1em;
  background-repeat: no-repeat;
  border-color: grey;
  outline: 0;
}

.input:focus {
  box-shadow: 0px 0px 43px -3px var(--primary-color);
  -webkit-box-shadow: 0px 0px 43px -3px var(--primary-color);
  -moz-box-shadow: 0px 0px 43px -3px var(--primary-color);

  box-shadow: 0px 0px 13px -8px var(--primary-color) inset;
  -webkit-box-shadow: 0px 0px 13px -8px var(--primary-color) inset;
  -moz-box-shadow: 0px 0px 13px -8px var(--primary-color) inset;
  border-bottom: 1px solid var(--primary-color);
}
.primaryColor {
  color: var(--placeholder-color) !important;
  font-weight: 400;
}

.error {
  border: 1px solid rgba(255, 0, 0, 0.678);
  box-shadow: 2px 0px 16px -4px rgba(255, 0, 0, 0.62);
  -webkit-box-shadow: 2px 0px 16px -4px rgba(255, 0, 0, 0.62);
  -moz-box-shadow: 2px 0px 16px -4px rgba(255, 0, 0, 0.62);
  animation: shake 0.5s both;
}
@keyframes shake {
  0% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0px);
  }
}
@media only screen and (max-width: 1200px) {
  .container {
    flex-grow: 1;
  }
}
