.tabContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* border: 5px solid red; */
  display: flex;
  flex-direction: column;
}
.tabs {
  position: relative;
  border-radius: 5px;
  padding-top: 1px;
  height: 100%;
}

.tabButtonRow {
  display: flex;
  position: relative;
  width: 100%;
  overflow-x: scroll;
  font-weight: 500;
}
.tabButtonRow::-webkit-scrollbar {
  background-color: var(--primary-color);
  height: 1rem;
}
.tabButtonRow::-webkit-scrollbar-button {
  background-color: var(--secondary-color);
  width: 10px;
}
.tabButtonRow::-webkit-scrollbar-thumb {
  background-color: rgba(117, 117, 117, 0);
}
.tabBox {
  border-radius: 8px;
  overflow-y: auto;
  margin: 1rem;
  border: 1px solid var(--primary-color);
}

.scrollButton:first-of-type {
  position: absolute;
  left: 0;
  background-color: var(--secondary-color);
  height: 100%;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  cursor: pointer;
  z-index: 2;
}
.scrollButton {
  position: absolute;
  right: 0;
  background-color: var(--secondary-color);
  height: 100%;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  cursor: pointer;
  z-index: 200;
}
.tabButton {
  white-space: nowrap;
  font-size: 0.8rem;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  margin: 0;
  cursor: pointer;
  color: var(--primary-color);
  text-align-last: center;
  border: 1px solid rgba(21, 28, 154, 0.44);
  border-top-left-radius: 10px;
  border-top-right-radius: 5px;
  position: relative;
  display: flex;
  justify-self: center;
  align-items: center;
}

.closeButton {
  font-size: 1.2rem;
  margin-left: 8px;
  width: 20px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.tabBox::-webkit-scrollbar {
  background-color: var(--secondary-color);
  border-radius: 15px;
  height: 0.5rem;
  width: 0.5rem;
}
.tabBox::-webkit-scrollbar-button {
  display: none;
}
.tabBox::-webkit-scrollbar-corner {
  display: none;
}
.tabBox::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 15px;
}
.activeTab {
  z-index: 100;
}
.InactiveTab {
  z-index: 1;
  display: none;
}
.active {
  position: relative;
  background-color: var(--primary-color);
  border: 1px solid #38393a;
  border-bottom: 1px solid transparent;
  color: white;
  z-index: 100;
}
.inactive {
  background-color: rgba(128, 128, 128, 0.118);
}
