.container {
  margin-block: 1.1rem;
  margin-inline: 0.5rem;
  position: relative;
  flex-shrink: 1;
  min-width: 15rem;
  height: 2rem;
  background-color: var(--forth-color);
  color: var(--text-primary-color);
  border-bottom: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  z-index: 1000;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.label {
  position: absolute;
  transform: translateY(-1.5rem);
  margin-bottom: 7px;
  color: var(--text-primary-color);
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: capitalize;
}

.select {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  overflow: visible;
  list-style: none;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: all 0.2s;
  font-size: 0.8rem;
}
.selector {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  width: 100%;
  text-align: center;
}

.option:hover {
  background-color: var(--tertiary-color);
  color: white;
}
.list {
  top: 100%;
  display: flex;
  padding: 0;
  flex-direction: column;
  min-width: 15rem;
  height: 6rem !important;
  border: 1px solid grey;
  overflow-y: auto;
  font-size: 0.7rem !important;
}
.option {
  width: 100%;
  cursor: pointer;
  padding-left: 0.5rem;
  padding-block: 0.2rem;
  margin: 0;
  background-color: rgb(128, 128, 128);
  color: white;
  display: flex;
  align-items: center;
}
.selectedItemsContaier {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}
.selected,
.selectedRest {
  margin: 1px;
  background: var(--primary-color);
  padding: 5px;
  border-radius: 5px;
  font-size: 0.7rem;
  color: var(--forth-color);
}

.selectedRest {
  background-color: transparent;
  color: var(--primary-color);
  font-weight: bold;
}
.hide {
  display: none;
}

.input:focus {
  box-shadow: 0px 0px 43px -3px var(--primary-color);
  -webkit-box-shadow: 0px 0px 43px -3px var(--primary-color);
  -moz-box-shadow: 0px 0px 43px -3px var(--primary-color);

  box-shadow: 0px 0px 13px -8px var(--primary-color) inset;
  -webkit-box-shadow: 0px 0px 13px -8px var(--primary-color) inset;
  -moz-box-shadow: 0px 0px 13px -8px var(--primary-color) inset;
  border-bottom: 1px solid var(--primary-color);
}
.primaryColor {
  color: var(--placeholder-color) !important;
  font-weight: 400;
}

.error {
  border: 1px solid rgba(255, 0, 0, 0.678);
  box-shadow: 2px 0px 16px -4px rgba(255, 0, 0, 0.62);
  -webkit-box-shadow: 2px 0px 16px -4px rgba(255, 0, 0, 0.62);
  -moz-box-shadow: 2px 0px 16px -4px rgba(255, 0, 0, 0.62);
  animation: shake 0.5s both;
}
@keyframes shake {
  0% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0px);
  }
}
@media only screen and (max-width: 1200px) {
  .container {
    flex-grow: 1;
  }
}

.searchBox {
  padding-left: 1rem;
  position: absolute;
  background-color: transparent;
  z-index: 1;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 80%;
  outline: none;
  border: none;
  font-size: 0.7rem;
  font-weight: 500;
}
