.test-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.test-header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    margin-bottom: 0.5rem;
}

.test-header .example-section {
    margin-bottom: 0.5rem;
}

#myGrid {
    flex: 1 1 0px;
}

html,
body,
#root {
    height: 100%;
    /* width: 100%; */
    margin: 0;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
}


/* html {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    overflow: auto;
} */


/* 
body {
    padding: 1rem;
    overflow: auto;
} */

.submit_footer {
    /* border: 2px solid black; */
    background: #16619F;
    /* background-color: rgba(16, 16, 90, 0.795); */
    /* margin-top: 0.9rem; */
    color: white;
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.submit_footer_img p {
    margin: 10px 0px 10px 5px;
}

.submit_footer_img {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.submit_footer_date {
    width: 350px;
}

.submit_footer_date p {
    margin-top: 10px;
}

.submit_footer_text {
    width: 80%;
    display: flex;
    align-items: center;
    gap: 5%;
}


/* .submit_footer_img p {
  margin: 10px 0px 10px 5px;
} */


/* .submit_footer_img {
  display: flex;
  align-items: center;
  margin-left: 20px;
} */


/* .submit_footer_date p {
  margin-top: 10px;
} */

.alert-white-button {
    border: 1px solid;
    border-radius: 100px;
}

.closeBtn {
    position: relative;
    font-size: 15px !important;
    margin-left: 13px !important;
    color: black !important;
    background: #fff !important;  
    border-radius: 50px !important;
    margin-bottom: 2px !important;
}

.single_tab {
    /* box-shadow: 0px 0px 5px -2px; */
    border-top-left-radius: 15% 100%;
    border-top-right-radius: 15% 100%;
    display: inline-block;
    padding: 0px 10px 0 20px;
    /* margin-right: -20px; */

}