.sideMenu {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  color: #ffffff;
  overflow: scroll;
}
.sideMenu::-webkit-scrollbar {
  display: none;
}
.ulHeader {
  display: flex !important;
  justify-content: space-between !important;
  cursor: pointer;
}
.sideMenu :is(p) {
  margin: 0;
  /* font-weight: bold; */
  font-size: 1rem;
}

.sideMenu :is(p) span:nth-child(2) {
  padding-right: 5px;
}
.sideMenu ul {
  width: 96%;
  padding-left: 0;
  margin: 5px;
  font-size: 0.7rem;
  line-height: 1.3rem;
  list-style: inside;
}
.sideMenu ul li {
  transition: all 0.1s;
  margin-left: 0.4rem;
  cursor: pointer;
  font-size: 0.7rem;
  line-height: 1.5rem;
}
.sideMenu ul li:hover {
  margin-left: 0.6rem;
}

.companyLogo {
  width: 100%;
  height: 6rem;
  position: sticky;
  top: 0;
}
.companyLogo img {
  background-color: white;
  /* margin-top: 0.5rem;
  margin-left: 0.5rem; */
  width: 99%;
}
.active {
  font-weight: bold;
  color: rgb(196, 255, 47);
}
