@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@100;400;500;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,800;1,900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100;1,200;1,300;1,400;1,500&display=swap");

iframe {
  pointer-events: none;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
:root {
  --primary-color: #16619f;
  --primary-color2: #013b6a;
  --secondary-color: #013b6a;
  --tertiary-color: #16619f;
  --forth-color: #ebebeb;
  --text-primary-color: #00325c;
  --placeholder-color: #0f3757;
  --heading-color: #013b6a;
  --button-color: #16619f;
}

* {
  font-family: "Bitter", serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Noto Sans", sans-serif;
  box-sizing: border-box;
}

.loginPage {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.loginform {
  max-height: 100vh;
  height: 100vh;
  max-width: 25rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  padding: 2rem 15px;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 3px 3px 32px -1px #bac7fd;
}
.loginform h3{
  width: 100%;
  display: block;
  text-align: center;
  color:#00325c
}
.loginform p{
  width: 100%;
  display: block;
  text-align: center;
}
.logo {
  top: 2px;
  left: 2px;
  right: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
}
.logo img {
width: 120px;
margin: 0 auto 20px;
display: block;
}
.footer {
  display: flex;
  left: 0;
  flex-wrap: wrap;
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: var(--primary-color);
  align-content: center;
  font-size: 0.8rem;
  align-items: center;
  justify-content: space-between;
}
.logoHeader {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
}
.logoHeader img {
  width: 13rem;
}
.contact {
  display: flex;
  color: white;
}
.contact a {
  color: white;
  text-decoration: none;
  margin-left: 0.3rem;
}
.contact span {
  margin: 1rem;
}
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}
.copyright > * {
  margin-inline: 5px;
}
