:root {
  --primary-color: #013b6a;
  /* --primary-color: #f34040; */
  --primary-color2: #013b6a;
  --secondary-color: #013b6a;
  --tertiary-color: #16619f;
  --forth-color: #ebebeb;
  --text-primary-color: #00325c;
  /* --text-primary-color: #94969b; */
  --placeholder-color: #0f3757;
  --heading-color: #013b6a;
  --button-color: #013b6a;
}
* {
  box-sizing: border-box;
  /* padding: 0;
  margin: 0; */
  /* font-family: "Bitter", serif;
  font-family: "Montserrat", sans-serif; */
  /* font-family: "Source Sans Pro", sans-serif; */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}
