@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@100;400;500;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,800;1,900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100;1,200;1,300;1,400;1,500&display=swap");

iframe {
  pointer-events: none;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: var(--light-gray);
}
:root {
  --primary-color: #16619f;
  --primary-color2: #013b6a;
  --secondary-color: #013b6a;
  --tertiary-color: #16619f;
  --forth-color: #ebebeb;
  --text-primary-color: #00325c;
  --placeholder-color: #0f3757;
  --heading-color: #013b6a;
  --button-color: #16619f;
  --dark-blue: #113c62;
  --light-gray: #ebebeb;
  --white: #fff;
}

* {
  font-family: "Bitter", serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Noto Sans", sans-serif;
  box-sizing: border-box;
}

.loginPage {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: center/cover no-repeat url(./assets/images/login-bg.jpg);
  flex-direction: column;
}
.loginform {
  max-height: 100vh;
  height: 100vh;
  max-width: 25rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  padding: 2rem 15px;
  flex-direction: column;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 0 15px -1px rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.loginform h3 {
  width: 100%;
  display: block;
  text-align: center;
  color: #00325c;
  margin-bottom: 20px;
}
.loginform p {
  width: 100%;
  display: block;
  text-align: center;
  margin-top: 0;
  font-size: 14px;
}
.loginform form span {
  display: none;
}
.loginform form > div {
  width: 100% !important;
}
.logo {
  position: absolute;
  width: 100%;
  top: 0px;
  right: 0;
  display: flex;
  padding: 0 30px;
  align-items: center;
  justify-content: space-between;
  left: 0;
  background: #f5f5f5;
  z-index: 11;
}
.loginform form > div > div {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  width: 100% !important;
}
.loginform input {
  height: 35px !important;
  line-height: 35px;
}
.loginform form > div > button {
  height: 35px;
  min-width: initial;
  margin-left: 0;
  margin-right: 0;
}
.logo img {
  width: 180px;
  padding: 10px;
}
.footer {
  display: flex;
  left: 0;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  bottom: 0;
  background-color: var(--primary-color);
  align-content: center;
  font-size: 0.8rem;
  align-items: center;
  justify-content: space-between;
}
.logoHeader {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
}
.logoHeader img {
  width: 13rem;
}
.contact {
  display: flex;
  color: white;
}
.contact a {
  color: white;
  text-decoration: none;
  margin-left: 0.3rem;
}
.contact span {
  margin: 1rem;
}
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}
.copyright > * {
  margin-inline: 5px;
}
